Package: com.charliewhile.signalreborn
Name: Signal Reborn
Architecture: iphoneos-arm
Description: Visualise your nearby cell towers
Depends: firmware(>=12.2) | org.swift.libswift (>=5.0)
Author: Charlie While
Maintainer: Charlie While
Section: Application
Version: 2.0.1
Installed-Size: 4692
